<h1><%= @project.title %></h1>
<hr class="divider" />
<section>
<div class="row">
  <div class="col-3 text-end fw-bold">Title:</div>
  <div class="col-9"><%= @project.title %></div>
</div>
<div class="row">
  <div class="col-3 text-end fw-bold">Details:</div>
  <div class="col-9"><%= @project.details %></div>
</div>
<div class="row">
  <div class="col-3 text-end fw-bold">Expected completion date:</div>
  <div class="col-9"><%= @project.expected_completion %></div>
</div>
<div class="row">
  <div class="col-3 text-end fw-bold">Tenant:</div>
  <div class="col-9">wtf is a tenant</div>
</div>
</section>
<section class="mt-4 d-flex justify-content-between align-items-center">
<h2>Artifacts</h2>
<%= link_to 'New artifact', :back, class:"btn btn-primary" %>
</section>
<%= link_to 'Back', :back, class:"btn btn-secondary" %>
